<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>

    <!-- Bootstrap CSS -->
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../../static/css/colors.css"
          th:href="@{css/colors.css}" rel="stylesheet"/>
    <link href="../../static/css/dashboard.css"
          th:href="@{css/dashboard.css}" rel="stylesheet"/>
    <link href="../../static/css/font-awesome.min.css"
          th:href="@{css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/tether/1.4.0/js/tether.min.js"
            th:src="@{/webjars/tether/1.4.0/js/tether.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/4.0.0-alpha.6-1/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.0.0-alpha.6-1/js/bootstrap.min.js}"></script>
</head>
<body>
<!-- Sidebar -->
<div class="row" th:fragment="sidebar">
    <nav class="col-sm-3 col-md-2 hidden-xs-down sidebar">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" href="index.html" th:href="@{/}" th:classappend="|${#httpServletRequest.requestURI=='/'? 'active': ''} ${#httpServletRequest.requestURI!='/'? 'text-muted' : ''}|"><i class="fa fa-dashboard fa-fw"></i> Widok główny</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/subjects}" th:classappend="|${#httpServletRequest.requestURI=='/subjects'? 'active': ''} ${#httpServletRequest.requestURI!='/subjects'? 'text-muted' : ''}|"><i class="fa fa-book fa-fw"></i><span class="sr-only"></span> Przedmioty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted" href="#"><i class="fa fa-calendar-check-o fa-fw"></i> Zaliczenia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted" href="#"><i class="fa fa-calendar fa-fw"></i> Kalendarz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted" href="#"><i class="fa fa-map-marker fa-fw"></i> Sale</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>