<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Timetable</title>
    <!--/*/ <th:block th:include="fragments/headinc :: head"></th:block> /*/-->
    <link href="../../static/css/timeline.css"
          th:href="@{/css/timeline.css}" rel="stylesheet" type="text/css"/>
    <link href="../static/bower_components/fullcalendar/dist/fullcalendar.css"
          th:href="@{/bower_components/fullcalendar/dist/fullcalendar.css}" rel="stylesheet" type="text/css"/>

    <script src="../static/bower_components/moment/min/moment.min.js"
            th:src="@{/bower_components/moment/min/moment.min.js}"></script>
    <script src="../static/bower_components/fullcalendar/dist/fullcalendar.js"
            th:src="@{/bower_components/fullcalendar/dist/fullcalendar.js}"></script>
    <script src="../static/bower_components/fullcalendar/dist/locale/pl.js"
            th:src="@{/bower_components/fullcalendar/dist/locale/pl.js}"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {

            $('#calendar').fullCalendar({
                minTime: "07:00:00",
                maxTime: "21:00:00",
                locale: 'pl',
                defaultDate: moment(),
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },

                defaultView: 'month',
                eventRender: function(event, element, view){
                    $(element).tooltip({title: event.title});
                    console.log(event.start.format());
                    /*<![CDATA[*/
                    return (event.ranges.filter(function(range){
                        return (event.start.isBefore(range.end) &&
                            event.end.isAfter(range.start));
                    }).length)>0;

                    /*]]>*/
                },
                eventSources:[
                    '/lessonsJSON',
                    'eventsJSON']
            })
        });
    </script>
</head>
<body><!--/*/ <th:block th:include="fragments/navbar :: nav"></th:block> /*/-->
<div class="container-fluid">
    <div class="row"><!--/*/ <th:block th:include="fragments/sidebar :: sidebar"></th:block> /*/-->
        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <h1><i class="fa fa-dashboard fa-fw"></i>&nbsp;Widok Główny</h1>
            <div class="row">

            </div>

            <div class="row top-buffer">
            </div>
            <div class="row container-fluid">
                <div id="calendar"></div>
            </div>
            <div class="row">

            </div>
        </main>

    </div>
</div>
</body>
</html>