<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Timetable</title>
    <!--/*/ <th:block th:include="fragments/headinc :: head"></th:block> /*/-->

</head>
<body><!--/*/ <th:block th:include="fragments/navbar :: nav"></th:block> /*/-->
<div class="container-fluid">
    <div class="row"><!--/*/ <th:block th:include="fragments/sidebar :: sidebar"></th:block> /*/-->
        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3" >
            <h1><i class="fa fa-pencil fa-fw"></i><th:block th:text="'Edycja notatki: '+${note.lesson.subject.name}+' - '+${note.lesson.lessonType.nazwa}"></th:block></h1>
            <div class="row" >
                <form th:object="${homework}" th:action="@{/homework}" method="post">
                    <div class="container">
                        <div class="col-12">
                            <input type="hidden" th:field="*{id}"/>
                            <div class="form-group">
                                <label th:attr="for='homework-name'">Tytuł</label>
                                <input class="form-control" type="text" value="Tytuł" th:field="*{title}" id="homework-name"/>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <label th:attr="for='content_note'">Treść</label>
                                    <textarea class="form-control" id="content_note" rows="4" th:field="*{text}"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label th:attr="for='lesson-select'">Zajęcia</label>
                                <select class="form-control" id="lesson-select" th:field="*{lesson}" >
                                    <option th:each="lesson : ${lessons}"
                                            th:value="${lesson.id}"
                                            th:text="${lesson.subject.name}+' - '+${lesson.lessonType.nazwa}">Wireframe</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="homework-date">Data</label>
                                <input class="form-control" id="homework-date" type="date" th:field="*{date}"/>
                            </div>
                            <div class="form-group row justify-content-between">
                                <div class="col-12 ">
                                    <a th:href="${'/'}" href="#" class="btn btn-danger">Anuluj</a>
                                    <button type="submit" class="btn btn-primary">Zapisz</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </main>
        <!-- Modal -->

    </div>
</div>
</body>
</html>