<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Timetable</title>

    <!--/*/ <th:block th:include="fragments/headinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <div class="jumbotron">

        <h1>Hello</h1>

        <h2>Student 1!</h2>
    </div>
    <div th:if="${not #lists.isEmpty(subjects)}">
        <h2>Lista przedmiotów</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nazwa</th>
                    <th>Kolor</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="subject : ${subjects}" >
                    <th scope="row" th:text="${subject.id}">Id</th>
                    <td th:text="${subject.name}">Nazwa</td>
                    <td th:text="${subject.colour}">Kolor</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${not #lists.isEmpty(lessons)}">
        <h2>Lista zajęć</h2>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Przedmiot</th>
                <th>Typ Zajęć</th>
                <th>Dzień Tygodnia</th>
                <th>Wykładowca</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lesson : ${lessons}" >
                <th scope="row" th:text="${lesson.id}">Id</th>
                <td th:text="${lesson.subject.name}">Przedmiot</td>
                <td th:text="${lesson.lessonType.nazwa}">Typ Zajęć</td>
                <td th:text="${lesson.dzien_tygodnia}">Dzień tygodnia</td>
                <td th:text="${lesson.teacher.name}+' '+${lesson.teacher.surname}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${not #lists.isEmpty(subjects)}">
        <div th:each="subject : ${subjects}">
            <h3 th:text="${subject.name}+' - Lista Zajęć'">Header</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Typ Zajęć</th>
                    <th>Dzień Tygodnia</th>
                    <th>Wykładowca</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="lesson : ${subject.lessons}">
                    <th scope="row" th:text="${lesson.id}">Id</th>
                    <td th:text="${lesson.lessonType.nazwa}">Typ Zajęć</td>
                    <td th:text="${lesson.dzien_tygodnia}">Dzień Tygodnia</td>
                    <td th:text="${lesson.teacher.name}+' '+${lesson.teacher.surname}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>


</div>
</body>
</html>