<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Timetable</title>
    <!--/*/ <th:block th:include="fragments/headinc_bootstrap :: head"></th:block> /*/-->
    <link href="../static/css/signin.css"
          th:href="@{/css/signin.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">

        <div class="card" style="margin-top: 25%">
            <div class="card-header text-center">
                <p class="h4">Zarejestruj się</p>
            </div>
            <div class="card-body">
                <form th:action="@{/registration}" th:object="${user}" method="post">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="form-group">
                        <!--<label for="loginInput">Login</label>-->
                        <input type="text" class="form-control" id="loginInput" placeholder="Podaj login" th:field="*{username}" required="required" autofocus="autofocus"/>
                        <small class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</small>
                    </div>
                    <div class="form-group">
                        <!--<label for="inputPassword1">Password</label>-->
                        <input type="password" class="form-control" id="inputPassword1" placeholder="Hasło" required="required" th:field="*{password}"/>
                        <small class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{username}">Password error</small>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/bottominc :: body"></th:block> /*/-->
</body>
</html>
