<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Student Timetable</title>
    <!--/*/ <th:block th:include="fragments/headinc :: head"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/bottominc :: body"></th:block> /*/-->
    <link sec:authorize="hasAuthority('ADMIN')" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <script sec:authorize="hasAuthority('ADMIN')" type="text/javascript" language="JavaScript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script sec:authorize="hasAuthority('ADMIN')" type="text/javascript" language="JavaScript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script sec:authorize="hasAuthority('ADMIN')" type="text/javascript" class="init">
        $(document).ready(function () {
            $('#roomTable').DataTable({
                "language":{
                    "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Polish.json"
                }
            });
        });
    </script>

</head>
<body><!--/*/ <th:block th:include="fragments/navbar :: nav"></th:block> /*/-->
<div class="container-fluid" sec:authorize="isAuthenticated()">
    <div class="row" sec:authorize="hasAuthority('USER')"><!--/*/ <th:block th:include="fragments/sidebar :: sidebar"></th:block> /*/-->
        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main" >
            <h1><i class="fa fa-map-marker fa-fw"></i> Sale</h1>
            <div class="row" th:each="roomChunks : ${T(com.google.common.collect.Lists).partition(rooms,2)}">
                <div class="col-lg-5 col-md-10" th:each="room : ${roomChunks}">
                    <div class="card" th:classappend="'border-primary'">
                        <div class="card-body text-white" th:classappend="'bg-primary'">
                            <span class="h4" th:text="${room.roomNumber}"></span>
                            <span class="float-right">
                            <a href="#" th:href="${'/room/edit/'+room.id}" data-toggle="tooltip" data-placement="top" title="Edytuj"><i class="fa fa-pencil text-white" aria-hidden="true"></i></a>
                            <i>&nbsp;</i>
                            <a href="#" th:href="${'/room/delete/'+room.id}" data-toggle="tooltip" data-placement="top" title="Usuń"><i class="fa fa-trash-o text-white" aria-hidden="true"></i></a>
                        </span>
                        </div>
                        <ul class="list-group list-group-flush" th:classappend="'text-primary'">
                            <li class="list-group-item justify-content-between">
                                <b>Numer pokoju: </b><th:block th:text="${room.roomNumber}"></th:block>
                            </li>
                            <li class="list-group-item justify-content-between">
                                <b>Budynek</b><th:block th:text="${room.building}"></th:block>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <button class="btn-primary btn" type="button" data-toggle="modal" data-target="#roomModal">
                Dodaj Pokój
            </button>
        </main>

        <!--Modal (dodawanie przedmiotu)-->
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" th:attr="id='roomModal'">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="'Dodaj pokój'"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:object="${room}" th:action="@{/room}" method="post">
                        <div class="modal-body">
                            <input type="hidden" th:field="*{id}"/>
                            <input type="hidden" th:value="${userId}" th:attr="name='user'"/>
                            <div class="row">
                                <div class="col-6">
                                    <label th:attr="for='number'">Numer pokoju</label>
                                    <input class="form-control" type="text" th:attr="id='number'" th:field="*{roomNumber}" required="required"/>
                                </div>
                                <div class="col-6">
                                    <label th:attr="for='building'">Budynek</label>
                                    <input class="form-control" type="text" th:attr="id='building'" th:field="*{building}"/>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn-secondary btn" data-dismiss="modal">Zamknij</button>
                            <button type="submit" class="btn btn-primary">Zapisz</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="row" sec:authorize="hasAuthority('ADMIN')"><!--/*/ <th:block th:include="fragments/sidebar :: sidebar"></th:block> /*/-->
        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
            <h1><i class="fa fa-map-marker fa-fw"></i> Sale</h1>
            <div class="row" style="margin-top: 2rem">
                <div class="col-sm">
                    <h2>Sale</h2>
                    <table class="table table-responsive display" id="roomTable" cellspacing="0" width="100%">
                        <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>Numer pokoju</th>
                            <th>Budynek</th>
                            <th>Użytkownik</th>
                            <th>Edytuj</th>
                            <th>Usuń</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="room:${roomsAll}">
                            <th scope="row" th:text="${room.id}"></th>
                            <td th:text="${room.roomNumber}"></td>
                            <td th:text="${room.building}"></td>
                            <td th:text="${room.user.id}+': '+${room.user.username}"></td>
                            <td><a href="#" th:href="${'/room/edit/'+room.id}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                            <td><a href="#" th:href="${'/room/delete/'+room.id}"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-primary" href="#" th:href="${'room/new'}">Dodaj pokój</a>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>