<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Timetable</title>
    <!--/*/ <th:block th:include="fragments/headinc :: head"></th:block> /*/-->

</head>
<body><!--/*/ <th:block th:include="fragments/navbar :: nav"></th:block> /*/-->
<div class="container-fluid">
    <div class="row"><!--/*/ <th:block th:include="fragments/sidebar :: sidebar"></th:block> /*/-->
        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3" >
            <h1><i class="fa fa-book fa-fw"></i> Wszystkie przedmioty</h1>
            <div class="row" th:each="subjectChunks : ${T(com.google.common.collect.Lists).partition(subjects,2)}">
                <div class="col-lg-5 col-md-10" th:each="subject : ${subjectChunks}">
                    <div class="card" th:classappend="'card-outline-'+${subject.colour.name}">
                        <div class="card-block text-white" th:classappend="'card-'+${subject.colour.name}">
                            <span class="h4" th:text="${subject.name}"></span>
                            <span class="float-right">
                            <a href="#" th:href="${'/subject/edit/'+subject.id}" data-toggle="tooltip" data-placement="top" title="Edytuj"><i class="fa fa-pencil text-white" aria-hidden="true"></i></a>
                            <i>&nbsp;</i>
                            <a href="#" th:href="${'/subject/delete/'+subject.id}" data-toggle="tooltip" data-placement="top" title="Usuń"><i class="fa fa-trash-o text-white" aria-hidden="true"></i></a>
                        </span>
                        </div>
                        <ul class="list-group list-group-flush" th:classappend="'text-'+${subject.colour.name}">
                            <li class="list-group-item justify-content-between" th:each="lesson : ${#lists.sort(subject.lessons, lesson.weekDay)}" th:switch="${lesson.weekDay}">
                                <span class="float-left"><th:block th:text="${subject.name}+' - '+${lesson.lessonType.nazwa}"></th:block>
                                    <small class="text-muted" th:case="2" th:text="'&nbsp;Poniedziałek - '+${lesson.start_hour}+'/'+${lesson.teacher.name}+' '+${lesson.teacher.surname}+'/'+${lesson.room.roomNumber}+' ('+${lesson.room.building}+')'"></small>
                                    <small class="text-muted" th:case="3" th:text="'&nbsp;Wtorek - '+${lesson.start_hour}+'/'+${lesson.teacher.name}+' '+${lesson.teacher.surname}+'/'+${lesson.room.roomNumber}+' ('+${lesson.room.building}+')'"></small>
                                    <small class="text-muted" th:case="4" th:text="'&nbsp;Środa - '+${lesson.start_hour}+'/'+${lesson.teacher.name}+' '+${lesson.teacher.surname}+'/'+${lesson.room.roomNumber}+' ('+${lesson.room.building}+')'"></small>
                                    <small class="text-muted" th:case="5" th:text="'&nbsp;Czwartek - '+${lesson.start_hour}+'/'+${lesson.teacher.name}+' '+${lesson.teacher.surname}+'/'+${lesson.room.roomNumber}+' ('+${lesson.room.building}+')'"></small>
                                    <small class="text-muted" th:case="6" th:text="'&nbsp;Piątek - '+${lesson.start_hour}+'/'+${lesson.teacher.name}+' '+${lesson.teacher.surname}+'/'+${lesson.room.roomNumber}+' ('+${lesson.room.building}+')'"></small>
                                    <small class="text-muted" th:case="*" th:text="'WTF? - '+${lesson.start_hour}+'/'+${lesson.teacher.name}+' '+${lesson.teacher.surname}+'/'+${lesson.room.roomNumber}+' ('+${lesson.room.building}+')'"></small>
                                </span>
                                <span class="float-right">
                                    <a href="#" th:href="${'/notes/subject/'+lesson.id}" data-toggle="tooltip" data-placement="top" title="Notatki"><i class="fa fa-sticky-note-o" aria-hidden="true" th:classappend="'text-'+${subject.colour.name}"></i></a>
                                    <i>&nbsp;</i>
                                    <a href="#" th:href="${'/lesson/edit/'+lesson.id}" data-toggle="tooltip" data-placement="top" title="Edytuj"><i class="fa fa-pencil" th:classappend="'text-'+${subject.colour.name}" aria-hidden="true"></i></a>
                                    <i>&nbsp;</i>
                                    <a href="#" th:href="${'/lesson/delete/'+lesson.id}" data-toggle="tooltip" data-placement="top" title="Usuń"><i class="fa fa-trash-o" th:classappend="'text-'+${subject.colour.name}" aria-hidden="true"></i></a>
                                </span>

                            </li>
                        </ul>
                        <div class="card-block">
                            <button type="button" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#lessonModal'+${subject.id}">Dodaj Zajęcia</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn-primary btn" type="button" data-toggle="modal" data-target="#subjectModal">
                Dodaj Przedmiot
            </button>
        </main>
        <!-- Modal (dodawanie zajęć do przedmiotu) -->
        <div th:each="subject : ${subjects}" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" th:attr="id='lessonModal'+${subject.id}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="'Dodaj zajęcia do przedmiotu: '+${subject.name}"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:object="${lesson}" th:action="@{/lesson}" method="post">
                        <div class="modal-body">
                            <input type="hidden" th:field="*{id}"/>
                            <input type="hidden" th:value="${subject.id}" th:attr="name='subject'"/>
                            <div class="form-group">
                                <label th:attr="for='type-select'+${subject.id}">Rodzaj zajęć</label>
                                <select class="form-control" th:attr="id='type-select'+${subject.id}" th:field="*{lessonType}" >
                                    <option th:each="lessonType : ${lessonTypes}"
                                            th:value="${lessonType.id}"
                                            th:text="${lessonType.nazwa}">Wireframe</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label th:attr="for='teacher-select'+${subject.id}">Wykładowca</label>
                                <select class="form-control" th:attr="id='teacher-select'+${subject.id}" th:field="*{teacher}" >
                                    <option th:each="teacher : ${teachers}"
                                            th:value="${teacher.id}"
                                            th:text="${teacher.name}+' '+${teacher.surname}">Wireframe</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label th:attr="for='room-select'+${subject.id}">Sala</label>
                                <select class="form-control" th:attr="id='room-select'+${subject.id}" th:field="*{room}">
                                    <option th:each="room : ${rooms}"
                                            th:value="${room.id}"
                                            th:text="${room.roomNumber}+'/'+${room.building}"></option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label th:attr="for='start_date_'+${subject.id}">Data rozpoczęcia</label>
                                    <input class="form-control" type="date" th:attr="id='start_date_'+${subject.id}" th:field="*{start_date}"/>
                                </div>
                                <div class="col-6">
                                    <label th:attr="for='start_time_'+${subject.id}">Godzina rozpoczęcia</label>
                                    <input class="form-control" type="time" th:attr="id='start_time_'+${subject.id}" th:field="*{start_hour}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label th:attr="for='end_date_'+${subject.id}">Data zakończenia</label>
                                    <input class="form-control" type="date" th:attr="id='end_date_'+${subject.id}" th:field="*{end_date}"/>
                                </div>
                                <div class="col-6">
                                    <label th:attr="for='end_time_'+${subject.id}">Godzina zakończenia</label>
                                    <input class="form-control" type="time" th:attr="id='end_time_'+${subject.id}" th:field="*{end_hour}"/>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn-secondary btn" data-dismiss="modal">Zamknij</button>
                            <button type="submit" class="btn btn-primary">Zapisz</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <!-- Modal (dodawanie przedmiotu) -->
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" th:attr="id='subjectModal'">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="'Dodaj przedmiot'"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:object="${subject}" th:action="@{/subject}" method="post">
                        <div class="modal-body">
                            <input type="hidden" th:field="*{id}"/>
                            <div class="form-group">
                                <label th:attr="for='subject-name'+${subject.id}">Nazwa przedmiotu</label>
                                <input class="form-control" type="text" value="Nazwa przemiotu" th:field="*{name}"/>
                            </div>
                            <fieldset class="form-group">
                                <legend>Kolor przedmiotu</legend>
                                <div class="form-check">
                                    <label th:each="colour : ${colours}" class="form-check-label">
                                        <input type="radio" class="form-check-input" name="colorRadios" th:attr="id='colour-'+${colour.name}" th:field="*{colour}" th:value="${colour.id}"/>
                                        <p th:classappend="'bg-'+${colour.name}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn-secondary btn" data-dismiss="modal">Zamknij</button>
                            <button type="submit" class="btn btn-primary">Zapisz</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>