<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Timetable</title>
    <!--/*/ <th:block th:include="fragments/headinc :: head"></th:block> /*/-->
    <!--/*/ <th:block th:include="fragments/bottominc :: body"></th:block> /*/-->
</head>
<body><!--/*/ <th:block th:include="fragments/navbar :: nav"></th:block> /*/-->
<div class="container-fluid">
    <div class="row"><!--/*/ <th:block th:include="fragments/sidebar :: sidebar"></th:block> /*/-->
        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main" >
            <h1><i class="fa fa-address-card fa-fw"></i> Nauczyciele</h1>
            <div class="row" th:each="teacherChunks : ${T(com.google.common.collect.Lists).partition(teachers,2)}">
                <div class="col-lg-5 col-md-10" th:each="teacher : ${teacherChunks}">
                    <div class="card" th:classappend="'border-primary'">
                        <div class="card-body text-white" th:classappend="'bg-primary'">
                            <span class="h4" th:text="${teacher.name+' '+teacher.surname}"></span>
                            <span class="float-right">
                            <a href="#" th:href="${'/teacher/edit/'+teacher.id}" data-toggle="tooltip" data-placement="top" title="Edytuj"><i class="fa fa-pencil text-white" aria-hidden="true"></i></a>
                            <i>&nbsp;</i>
                            <a href="#" th:href="${'/teacher/delete/'+teacher.id}" data-toggle="tooltip" data-placement="top" title="Usuń"><i class="fa fa-trash-o text-white" aria-hidden="true"></i></a>
                        </span>
                        </div>
                        <ul class="list-group list-group-flush" th:classappend="'text-primary'">
                            <li class="list-group-item justify-content-between">
                                <b>Numer telefonu: </b><th:block th:text="${teacher.phone}"></th:block>
                            </li>
                            <li class="list-group-item justify-content-between">
                                <b>Adres e-mail: </b><th:block th:text="${teacher.email}"></th:block>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <button class="btn-primary btn" type="button" data-toggle="modal" data-target="#teacherModal">
                Dodaj Nauczyciela
            </button>
        </main>

        <!--Modal (dodawanie nauczyciela)-->
        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" th:attr="id='teacherModal'">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="'Dodaj nauczyciela'"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:object="${teacher}" th:action="@{/teacher}" method="post">
                        <div class="modal-body">
                            <input type="hidden" th:field="*{id}"/>
                            <div class="row">
                                <div class="col-6">
                                    <label th:attr="for='number'">Imię</label>
                                    <input class="form-control" type="text" th:attr="id='number'" th:field="*{name}"/>
                                </div>
                                <div class="col-6">
                                    <label th:attr="for='email'">Nazwisko</label>
                                    <input class="form-control" type="text" th:attr="id='building'" th:field="*{surname}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label th:attr="for='number'">Numer telefonu</label>
                                    <input class="form-control" type="tel" th:attr="id='number'" th:field="*{phone}"/>
                                </div>
                                <div class="col-6">
                                    <label th:attr="for='email'">Adres e-mail</label>
                                    <input class="form-control" type="email" th:attr="id='building'" th:field="*{email}"/>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn-secondary btn" data-dismiss="modal">Zamknij</button>
                            <button type="submit" class="btn btn-primary">Zapisz</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>